<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.handaomo.smartsudoku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/sudoku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sudoku"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode= "singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="Paramètres"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".activities.ChoiceActivity"
            android:label="@string/choose_number"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".activities.GameActivity"
            android:label="Partie" />

        <service android:name=".services.SocketIoService" />
        <service android:name=".services.GridNotificationService" />
    </application>

</manifest>